:root {
  /* --ion-grid-padding: 0px;
  --ion-padding: 0px;
  --ion-grid-column-padding: 0px; */
  --light-purple: rgba(103, 82, 148, 255);
  --medium-purple: rgba(70, 49, 114, 255);
}
.header {
  background-color: var(--light-purple);
  height: 140px;
}
.knotch {
  margin: 0 auto;
  background-color: whitesmoke;
  width: 35%;
  height: 20px;
  border-radius: 0 0 15px 15px;
}
.toolbar {
  --background: var(--light-purple);
  --color: whitesmoke;
}
.dark-purple-line {
  background-color: rgba(52, 37, 83, 255);
  height: 15px;
}
.main {
  background-color: var(--medium-purple);
  height: 689px;
  padding: 30px;
}
.running-total {
  font-size: 4rem;
  min-height: 4rem;
  color: whitesmoke;
  text-align: right;
}
.operand {
  font-size: 6rem;
  min-height: 6rem;
  color: whitesmoke;
  text-align: right;
}
.white-line {
  height: 2px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
}
.ionButton {
  cursor: pointer;
  font-size: 1.5rem;
  /* --padding-bottom: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-start: 0; */
  /* padding: 5px;
  margin: 2px; */
}
.clear-button {
  /* --color: #eee;
  color: var(--color); */
}
